body {
    background-color: #181818; /* Change this to your desired color */
}
/* Card Container */
.movie-card, .actor-card {
  position: relative;
  width: 180px; /* Adjust to match the design */
  height: 230px;
  border-radius: 15px;
  border: rgba(255, 255, 255, 0.363) solid;
  overflow: hidden;
  box-shadow: 0px 4px 10px #7EA6D6; /* Depth effect */
  transition: transform 0.2s ease-in-out;
}

/* Image inside the card */
.movie-image, .actor-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Title Overlay */
.movie-title, .actor-title {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.823); /* Dark overlay */
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
  font-family: "Rubik", sans-serif;
}

/* Hover Effect */
.movie-card:hover, .actor-card:hover {
  transform: scale(1.05); /* Slight zoom effect */
}
/* Start Button */
.button {
  font-family: "Lilita One", sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: white;
  background-color: #7EA6D6;
  border: none;
  padding: 15px 40px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 5px 5px 0px #ffffff; /* White shadow effect */
  transition:box-shadow 0.2s ease,background-color 0.1s ease-in-out;
  
}
.button:hover {
  background-color: #28364a;
  box-shadow: 7px 7px 0px #ffffff42;
}