/* Home Page Styling */
.home-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
/* Game Logo */
.home-logo {
  width: 300px;
  height: auto;
  margin-top: 150px;
}
  /* Button Container */
.home-container-buttons {
  font-family: "Lilita One", sans-serif;
  margin-top: 40px;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  gap: 100px; /* Space between Start and Settings buttons */
}



/* Settings Button */
.settings-button {
  width: 100px; /* Adjust size */
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.settings-button:hover {
  transform: rotate(15deg) scale(1.1);
}

  